<h1> <%= @post.title %> </h1> 
<small> <%= @post.created_at.strftime("%b %d. %Y")%> </small>
<br>
<p> <%= @post.body %> </p> <br>

<%= link_to "Edit Post", edit_post_path %> | <%= link_to "Delete Post", @post, data: {confirm:"Are you sure you want to delete?"}, method: :delete %>
