<h1> <%= @category.name%> </h1>
<%= if @posts.each do |post| %>
  <h3><%= link_to post.title, post %> </h3>
  <p> <%= post.body %> </p>
<% end.empty? %>
  <p> Sorry, there are no Posts yet in this category </p>
  <% end %> <br>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
