<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
	

    <div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">My Ruby Blog</a></h1>
				<p>Learning Ruby on Rails</p>
			</div>
			<div id="menu">
				<ul class="main-nav">
            <li> <%= link_to  "Home", root_path %> </li>
            <li> <%= link_to  "About", about_path %> </li>
            <li> <%= link_to  "Blog", posts_path %> </li>
            <li> <%= link_to  "Contact", contact_path %> </li>
             <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to('Login', new_user_session_path, class: "nav-link") %>
            </li>
            <% end %>
              </li>
        </ul>
			</div>
		</div>
	</div>
	<!-- end #header -->


	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">

        
        <% if notice %>
       <p id="notice"><%= notice %></p>
    	<% end %>
        <%= yield %>

				
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				
			<div id="sidebar">
					<ul>
						<li>
							<div id="search" >
							<%= form_with(url: posts_path, method: 'get', local: true) do |form| %>
  							
  							<%= form.text_field :q, id: 'q', value: params[:q], id: "search-text"  %>
  								<%= form.submit 'Go', id: "search-submit" %>
							<% end %>
							
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>
						<li>
							<h2>View my Github</h2>
							<p>view my Git repository to see the backend for this
                                                            <br />
                                                            <a style="color:#D93544;" href="https://github.com/PrashantDalavi/blog4us" target="blank">GITHUB</a>
                                                        </p>
						</li>
						<li>
							<h2>Categories</h2>
							<ul>
								<% all_categories.each do |cat| %>
                                    <li> <%= link_to cat.name, category_path(id: cat.id) %> </li>
                                <% end %>
					
							</ul>
						</li>
						<li>
							<h2>Blogroll</h2>
							<ul>
								<% all_posts.each do |post| %>
                                    <li> <%= link_to post.title, post_path(id: post.id) %> </li>
                                <% end %>
					
							</ul>
						</li>
						
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>&copy; 2019, Blog4Us - Sample Project</p>
	</div>
</div>
<!-- end #footer -->
  </body>
</html>
